<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Controller</title>
  </head>
  <body style="display: flex; justify-content: center; align-items: center">
    <script>
      // inspired by: https://youtu.be/5JJrJGZ_LjM?t=4019
      this.onload = () => {
        console.log("controller loaded");
        this.isController = true;

        this.onmousemove = ({ movementX, movementY }) => {
          this.moveBy(movementX, movementY);
          this.pos.left = this.pos.left + movementX;
          this.pos.top = this.pos.top + movementY;
        };

        this.onkeydown = (ev) => {
          switch (ev.keyCode) {
            case 81:
              console.log("hello");
              this.clearPopups();

              break;

            default:
              break;
          }
        };
      };
    </script>

    <image
      src="../assets/controller.jpeg"
      style="
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        transform: scale(0.7);
      "
    ></image>
  </body>
</html>
