<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tile</title>
  </head>
  <body style="display: flex; justify-content: center; align-items: center">
    <script>
      // inspired by: https://youtu.be/5JJrJGZ_LjM?t=4019
      this.onload = () => {
        this.isSlide = true;
        const interval = setInterval(
          () =>
            (document.querySelector("html").style.background =
              "#" + Math.floor(Math.random() * 16777215).toString(16)),
          500
        );

        setTimeout(() => {
          this.clearInterval(interval);
        }, 3000);
      };
    </script>

    <image
      src="../assets/tile.png"
      style="
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        transform: scale(0.7);
      "
    ></image>
  </body>
</html>
